.button {
  border-radius: 10px;
}

.red-bg {
  background-color: red;
  color: white;
}

.red-bg:hover {
  background-color: #ff726f;
}

input, textarea {
  border-radius: 10px;
}

.red-border {
  border: 1px solid red;
}

.baby-rose-border {
  border: 1px solid #f4c2c2;
}

.flex-center-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pb-50 {
  margin-bottom: 50px;
}